In [13]:
ages=[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
#using sort() to sort the list in asceding order
ages.sort()
#using min() and max()
m=min(ages)
n=max(ages)
r=n-m
print("sorted ages:",ages)
print("minimum of ages",m)
print("maximum of ages",n)
ages.append(min(ages))
ages.append(max(ages))
print("add min and max ages:",ages)
#Using statistics library to find median
import statistics
print("median:",statistics.median(ages))
avg=sum(ages)/len(ages)
print("average:",avg)
r=n-m
print("range:",r)

sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
minimum of ages 19
maximum of ages 26
add min and max ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
median: 24.0
average: 22.75
range: 7

In [14]:
#declaring empty dictionary
dog={}
dog={'name':'yashu','color':'red','legs':'4','breed':'xyz','age':'23',}
print(dog)
#declaring student dictionary
student={'first_name':'sumana','last_name':'burra',
         'gender':'F','age':'23','maritial_status':'no',
         'skills':['java','python','c'],
         'country':'xyz','city':'zzz','address':'pqr'}
print(student)
#using len() to find the length of student dictionary
print("length of student dictionary:",len(student))
print(student['skills'])
#finding type of skills
print(type(student['skills']))
#adding a new skill by using append
student['skills'].append('angular')
print(student)
print(student.keys())
print(student.values())

{'name': 'yashu', 'color': 'red', 'legs': '4', 'breed': 'xyz', 'age': '23'}
{'first_name': 'sumana', 'last_name': 'burra', 'gender': 'F', 'age': '23', 'maritial_status': 'no', 'skills': ['java', 'python', 'c'], 'country': 'xyz', 'city': 'zzz', 'address': 'pqr'}
length of student dictionary: 9
['java', 'python', 'c']
<class 'list'>
{'first_name': 'sumana', 'last_name': 'burra', 'gender': 'F', 'age': '23', 'maritial_status': 'no', 'skills': ['java', 'python', 'c', 'angular'], 'country': 'xyz', 'city': 'zzz', 'address': 'pqr'}
dict_keys(['first_name', 'last_name', 'gender', 'age', 'maritial_status', 'skills', 'country', 'city', 'address'])
dict_values(['sumana', 'burra', 'F', '23', 'no', ['java', 'python', 'c', 'angular'], 'xyz', 'zzz', 'pqr'])

In [1]:
s=("yashu","sumana","sravani")#sisters
b=("sai","deepu","aravind")#brothers
#joining both tuples by using + operator
siblings=s+b
print("siblings are:",siblings)
print("no.of siblings:",len(siblings))
family_members=siblings+("swamy","umadevi")
print("family members are:", family_members)

siblings are: ('yashu', 'sumana', 'sravani', 'sai', 'deepu', 'aravind')
no.of siblings: 6
family members are: ('yashu', 'sumana', 'sravani', 'sai', 'deepu', 'aravind', 'swamy', 'umadevi')

In [16]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'} 
print("length of it_companies:",len(it_companies))
it_companies.add("Twitter")
print(it_companies)
multiple={"accenture","cognizant","dbs"}
it_companies.update(multiple)
print(it_companies)
it_companies.remove("IBM")
print(it_companies)
it_companies.discard("IBM")
print(it_companies)

length of it_companies: 7
{'IBM', 'Facebook', 'Amazon', 'Apple', 'Google', 'Twitter', 'Microsoft', 'Oracle'}
{'IBM', 'dbs', 'Apple', 'cognizant', 'Google', 'Microsoft', 'Facebook', 'Amazon', 'accenture', 'Twitter', 'Oracle'}
{'dbs', 'Apple', 'cognizant', 'Google', 'Microsoft', 'Facebook', 'Amazon', 'accenture', 'Twitter', 'Oracle'}
{'dbs', 'Apple', 'cognizant', 'Google', 'Microsoft', 'Facebook', 'Amazon', 'accenture', 'Twitter', 'Oracle'}

In [17]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
#union of A and B
print(A.union(B))
#intersection of A and B
print(A.intersection(B))
#using issubset() 
print(A.issubset(B))
#using isdisjoint()
print(A.isdisjoint(B))
print(A.union(B))
print(B.union(A))
print(A.symmetric_difference(B))
del A
del B
#print(A)
#print(B)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}

In [18]:
age = [22, 19, 24, 25, 26, 24, 25, 24]
#using set() to convert list to set
s=set(age)
print(s)
print(len(age))
print(len(s))
print("comparing lenths of list and set:",len(age)-len(s))

{19, 22, 24, 25, 26}
8
5
comparing lenths of list and set: 3

In [19]:
r=30
_area_of_circle_=3.14*r**2
print(_area_of_circle_)
_circum_of_circle_=2*3.14*r
print(_circum_of_circle_)
#giving input by using user input function
r=int(input("enter the radius:"))
print("area=",3.14*r**2)

2826.0
188.4
enter the radius:4
area= 50.24

In [20]:
s= "I am a teacher and I love to inspire and teach people"
#split() method is used to split a string into a list of strings 
#using set() to provide unique words
p=set(s.split())
print(len(p))

10

In [21]:
#using the tab character “\t”.
print("Name\t\t Age\t Country\t City\nAsabeneh\t 250\t Finland\t Helsinki")

Name		 Age	 Country	 City
Asabeneh	 250	 Finland	 Helsinki

In [22]:

radius = 10
area = 3.14* radius**2
print("The area of circle with radius {} is {} meters square.".format(str(radius),str(area)))

The area of circle with radius 10 is 314.0 meters square.

In [23]:
N=int(input("enter no. of students"))
L=list(map(int,input("enter the wights in lbs: ").strip().split()))[:N]
K=[]
for i in L:
    #1 kg=lb*0.45359237
    kg=i*0.45359237
    K.append(round(kg,2))
print("weight in kgs is:",K)

enter no. of students4
enter the wights in lbs: 150 155 165 160
weight in kgs is: [68.04, 70.31, 74.84, 72.57]